<section style="padding-top: 140px; "  id="feature" class="about" >
    <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">

      <div class="row justify-content-end">
      
        
        <div style ="display: flex;
        justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
          <img style="  border-radius: 12px;  width:500px; height: 320px; " src="assets/img/veg.jpg" class="img-fluid" alt="">
          
        </div>
        
        <div style = "padding-top: 50px; justify-content: center;"
         class="col-lg-6">
         
          <h3 style="color:#49c049">Post Your Crop for Sale</h3>
          <p class="fst-italic">
           Advertise and Sell your crops here
          </p>
             <h5 style="color:#49c049"><strong>Click here to Sell your Crops</strong></h5>       
                 <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                 
                 <button routerLink ="/CropOnSale" style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">Sell Crops</button>
          <p>
           
          </p>
        </div>

      </div>

    </div>
    </section>
    <section style="padding-top: 140px; "  id="feature" class="about" >
        <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">
    
          <div class="row justify-content-end">
          
            
            <div style ="display: flex;
            justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
              <img style="  border-radius: 12px;  width:500px; height: 320px; " src="assets/img/grains.jpg" class="img-fluid" alt="">
              
            </div>
            
            <div style = "padding-top: 50px; justify-content: center;"
             class="col-lg-6">
             
              <h3 style="color:#49c049">View your Crops on Sale</h3>
              <p class="fst-italic">
               View your crops here
              </p>
                 <h5 style="color:#49c049"><strong>Click here to View your Crops</strong></h5>       
                     <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                     
                     <button routerLink="/ViewYourCropOnSale" style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">View Crops</button>
              <p>
               
              </p>
            </div>
    
          </div>
    
        </div>
        </section>
    <section style="padding-top: 140px; "  id="feature" class="about" >
        <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">
    
          <div class="row justify-content-end">
          
    
            <div style ="display: flex;
            justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
              <img style="  border-radius: 12px;  width:500px; height: 350px; " src="https://tinyurl.com/5b83daus" class="img-fluid" alt="">
              
            </div>
            
            <div style = "padding-top: 50px; justify-content: center;"
             class="col-lg-6">
             
              <h3 style="color:#49c049">Get Your Invoice</h3>
              <p class="fst-italic">
               To View the Invoices generated
              </p>
                 <h5 style="color:#49c049"><strong>Click here to View Invoice</strong></h5>       
                     <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                     
                     <button routerLink="/FarmerInvoice" style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">View Invoice</button>
              <p>
               
              </p>
            </div>
    
          </div>
    
        </div>
        </section>
        <section style="padding-top: 140px; "  id="feature" class="about" >
            <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">
        
              <div class="row justify-content-end">
              
        
                <div style ="display: flex;
                justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
                  <img style="  border-radius: 12px;  width:500px; height: 350px; width: 400px;" src="/assets/img/editprofile.jpg" class="img-fluid" alt="">
                  
                </div>
                
                <div style = "padding-top: 50px; justify-content: center;"
                 class="col-lg-6">
                 
                  <h3 style="color:#49c049">Update Profile</h3>
                  <p class="fst-italic">
                   To update the Profile
                  </p>
                     <h5 style="color:#49c049"><strong>Click here to Update your Profile</strong></h5>       
                         <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                         
                         <button routerLink ="/Updateprofile" style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">Update Profile</button>
                        
                  <p>
                   
                  </p>
                </div>
        
              </div>
        
            </div>
            </section>
            <section>

            </section>
    

