<div class="container" style="margin-top: 50px; padding-bottom: 90px; width: 500px;">
    <div class="mb-3">
    <h1 style="color:rgb(77, 172, 77); font-weight:bold; ">Login</h1>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="[login()]">
        <div class="mb-3">
            <h6>Select your Role</h6>
            <div class="dropdown mb-3">

            </div>
                
               <ul> <select formControlName="Role" class="form-control" (change)="changeRole($event)">
                <option value="" disabled selected>Select Role</option>
               
                <option *ngFor="let Role of rolelist">{{Role}}</option>
                 </select>

                </ul>
                <div *ngIf="f.Role.touched && f.Role.invalid" class="alert alert-danger">
                  <div *ngIf="f.Role.errors?.['required']">Role is required.</div>
              </div>
                
                
              </div>
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          formControlName="Email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          <div *ngIf="f.Email.touched && f.Email.invalid" class="alert alert-danger">
            <div *ngIf="f.Email.errors?.['required']">Email is required.</div>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="Password">
        </div>
        <div *ngIf="f.Password.touched && f.Password.invalid" class="alert alert-danger">
          <div *ngIf="f.Password.errors?.['required']">password is required.</div>
         
      </div>
      <div *ngIf="errormessage.length>1">
       <h6 style ="color:red;">Password or userName is Incorrect!</h6>
       
       </div>
        
        <button type="submit" [disabled]="!form.valid" class="btn btn-success">Login</button>
      </form>
      </div>

