<section style="padding-top: 140px; "  id="feature" class="about" >
    <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">

      <div class="row justify-content-end">
      

        <div style ="display: flex;
        justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
          <img style="  border-radius: 12px;  width:500px; height: 320px; " src="/assets/img/group.png" class="img-fluid" alt="">
          
        </div>
        
        <div style = "padding-top: 50px; justify-content: center;"
         class="col-lg-6">
         
          <h3 style="color:#49c049">Change User Status</h3>
          <p class="fst-italic">
           To View the User Status
          </p>
             <h5 style="color:#49c049"><strong>Click here to View the User Status</strong></h5>       
                 <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                 
                 <button routerLink ="/UserStatus"style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">Change Status</button>
          <p>
           
          </p>
        </div>

      </div>

    </div>
    </section>
    <section style="padding-top: 140px; "  id="feature" class="about" >
        <div style="box-shadow:  0 0 10px 5px rgb(5, 238, 5); border-radius: 4px solid rgba(0, 238, 52, 0.925); height: 400px;"  class="container">
    
          <div class="row justify-content-end">
          
    
            <div style ="display: flex;
            justify-content: center; align-items: center; padding-top: 40px;" class="col-lg-6 video-box align-self-baseline position-relative">
              <img style="  border-radius: 12px;  width:500px; height: 300px; " src="/assets/img/newreport.jpg" class="img-fluid" alt="">
              
            </div>
            
            <div style = "padding-top: 50px; justify-content: center;"
             class="col-lg-6">
             
              <h3 style="color:#49c049">Report Generation</h3>
              <p class="fst-italic">
               To View the Invoices generated
              </p>
                 <h5 style="color:#49c049"><strong>Click here to View The Report</strong></h5>       
                     <!-- <button style="background-color:rgb(73, 192, 73); color: white; height: 50px; width: 150px; border-radius: 20px; border: none;"> <input type="Submit"; >View Crops</button> -->
                     
                     <button routerLink ="/ReportGenration" style="background-color:rgb(73, 192, 73); color:white;" class="btn  btn-lg" type="button">View Report</button>
              <p>
               
              </p>
            </div>
    
          </div>
    
        </div>
        </section>
        

