


   <!-- ======= Hero Section ======= -->
   <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>CropDeal</span></h2>
              <p class="animate__animated animate__fadeInUp">Agriculture,Our Mother Culture.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

    
        

      </div>

    </div>
  </section><!-- End Hero -->

 

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">

       
      </div>
    </section><!-- End Featured Services Section -->
      

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p>Crop Deal - We provide  Always Fresh ,100% Organic and Nature with a premium quality of crops</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img style ="width: max-content; height: max-content;"src="assets/img/g.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>CropDeal-HealthyGrow</h3>
            <p class="fst-italic">
              CropDeal is an agriculture house providing innovative, property and result-driven solutions and services to agriculture, commercial enterprises.
            </p>
            <ul>
              <li><i class="bi bi-check-circled"></i> CropDeal is a web application in terms of memory with an easy interface to use.</li>
              <li><i class="bi bi-check-circled"></i> CropDeal web application provides information about the latest agriculture crops , latest mandi prices, and various farming crops..</li>
              <li><i class="bi bi-check-circled"></i>  CropDeal also provides seasonal crops information. The farmers can easily sell there crops with a reasonable price with  help of these crop deal application.</li>
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Veg.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Vegetables</h4>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Fruits.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fruits</h4>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/Pulse.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pulses</h4>
                
              </div>
            </div>
          </div>

      

         

          

        </div>

      </div>
    </section><!-- End Why Us Section -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
