<section  class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="assets/img/profile.png"
                  alt="Avatar" class="img-fluid my-5" style="width: 120px;" />
                 
                <h5 style="font-weight:bold ;">{{userdetails.userName|uppercase}}</h5>
                <p style="font-weight:bold ;">{{userdetails.userType|uppercase}}</p>
                
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6 style="font-weight:bold ;">Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6 style="font-weight:bold ;">Email</h6>
                      <p class="text-muted">{{userdetails.userEmail}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6 style="font-weight:bold ;">Mobile</h6>
                      <p class="text-muted">{{userdetails.userPhnumber}}</p>
                    </div>
                  </div>
                
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6 style="font-weight:bold ;">Address</h6>
                      <p class="text-muted">{{userdetails.userAddress}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6 style="font-weight:bold ;">Account Number</h6>
                      <p class="text-muted">{{userdetails.userAccnumber}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
